## How to connect with the database file

In [2]:
import sqlite3

# Replace 'your_file.sdb' with the actual SQLite database file path
db_file = r"svfs/model.sdb"

try:
    # Connect to the SQLite database
    conn = sqlite3.connect(db_file)

    # Create a cursor object to execute SQL queries
    cursor = conn.cursor()
    # Query the sqlite_master table to get the list of all tables
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")

    # Fetch the results
    tables = cursor.fetchall()

    # Extract table names and print them
    for table in tables:
        print(table[0])

except sqlite3.Error as e:
    print(f"SQLite error: {e}")
finally:
    # Close the database connection when done
    conn.close()

_objects_id
_objects_attr
_objects_val
_objects_eav

## How to read magic sql

In [3]:
# Read data from _objects_attr
import pandas as pd
# Read data from _objects_id
conn = sqlite3.connect(db_file)
data_objects_id = pd.read_sql_query("SELECT * FROM _objects_id", conn)
data_objects_id.head(20)

    id                                    external_id viewable_id
0    1       doc_dfd0e74a-63e9-4c13-86dd-538ce5eb6349        None
1    2  9693c920-050e-4443-9b38-2491295576d1-00000163        None
2    3  9693c920-050e-4443-9b38-2491295576d1-00000aea        None
3    4  eabed363-0187-429d-91a7-2d7d264a1a0c-000015ba        None
4    5  eabed363-0187-429d-91a7-2d7d264a1a0c-000015e8        None
5    6  eabed363-0187-429d-91a7-2d7d264a1a0c-000015ff        None
6    7  eabed363-0187-429d-91a7-2d7d264a1a0c-0000161d        None
7    8  f440c2b6-09c3-46da-b5c7-670feedae5cf-00002268        None
8    9  9693c920-050e-4443-9b38-2491295576d1-00000164        None
9   10  8ba265ee-debf-4b65-a77a-52060c81238b-0000016a        None
10  11  9693c920-050e-4443-9b38-2491295576d1-000008bb        None
11  12  9693c920-050e-4443-9b38-2491295576d1-000008d0        None
12  13  9693c920-050e-4443-9b38-2491295576d1-000008dc        None
13  14  9693c920-050e-4443-9b38-2491295576d1-000008ea        None
14  15  8ba265ee-debf-4b65-a77a-52060c81238b-00000aeb        None
15  16  8ba265ee-debf-4b65-a77a-52060c81238b-00000af1        None
16  17  8ba265ee-debf-4b65-a77a-52060c81238b-00000c66        None
17  18  8ba265ee-debf-4b65-a77a-52060c81238b-000015bb        None
18  19  8ba265ee-debf-4b65-a77a-52060c81238b-000015e9        None
19  20  8ba265ee-debf-4b65-a77a-52060c81238b-00001600        None

In [4]:
# Read data from _objects_attr
data_objects_id = pd.read_sql_query("SELECT * FROM _objects_attr", conn)
data_objects_id.head(20)

,id,name,category,data_type,data_type_context,description,display_name,flags,display_precision,forge_parameter
0,1,name,__name__,20,None,None,None,0,0,None
1,2,child,__child__,11,None,None,None,1,0,None
2,3,parent,__parent__,11,None,None,None,1,0,None
3,4,instanceof_objid,__instanceof__,11,None,None,None,1,0,None
4,5,hastable,__hastable__,11,None,None,None,1,0,None
5,6,viewable_in,__viewable_in__,20,None,None,None,1,0,None
6,7,xref,__externalref__,20,None,None,None,1,0,None
7,8,is_doc_property,__document__,1,None,None,None,3,0,None
8,9,schema_name,__document__,20,None,None,None,1,0,None
9,10,schema_version,__document__,20,None,None,None,1,0,None
10,11,hyperlink,__hyperlink__,20,None,None,None,1,0,None
11,12,node_flags,__node_flags__,2,None,None,None,1,0,None
12,13,Category,__category__,20,None,None,None,1,0,None
13,14,Organization Name,Identity Data,20,,None,Organization Name,0,0,None
14,15,Organization Description,Identity Data,20,,None,Organization Description,0,0,None
15,16,Building Name,Identity Data,20,,None,Building Name,0,0,None
16,17,Author,Identity Data,20,,None,Author,0,0,None
17,18,IfcSite GUID,IFC Parameters,20,,None,IfcSite GUID,0,0,None
18,19,IfcBuilding GUID,IFC Parameters,20,,None,IfcBuilding GUID,0,0,None
19,20,IfcProject GUID,IFC Parameters,20,,None,IfcProject GUID,0,0,None

In [5]:
import pandas as pd
# Read data from _objects_val
data_objects_id = pd.read_sql_query("SELECT * FROM _objects_val", conn)
data_objects_id.head(20)

    id                                          value
0    1                                          Model
1    2                                            rvt
2    3                                            1.0
3    4                                              1
4    5                                 Revit Document
5    6
6    7                                     Issue Date
7    8                                 Project Status
8    9                                          Owner
9   10                             Enter address here
10  11                                   Project Name
11  12                                 Project Number
12  13                                   Project Info
13  14                                        Level 1
14  15                                    Revit Level
15  16                                       -2000240
16  17                                              2
17  18  9693c920-050e-4443-9b38-2491295576d1-00000164
18  19                                            0.0
19  20                                           None

In [6]:
# Read data from _objects_attr
import pandas as pd
# Read data from _objects_id
data_objects_id = pd.read_sql_query("SELECT * FROM _objects_eav", conn)
data_objects_id.head(20)

    id  entity_id  attribute_id  value_id
0    1          1             1         1
1    2          1             9         2
2    3          1            10         3
3    4          1             8         4
4    5          1            13         5
5    6          1            14         6
6    7          1            15         6
7    8          1            16         6
8    9          1            17         6
9   10          1            18         6
10  11          1            19         6
11  12          1            20         6
12  13          1            21         7
13  14          1            22         8
14  15          1            23         9
15  16          1            24        10
16  17          1            25        11
17  18          1            26        12
18  19          1            27        13
19  20          1            28         6

## How to unormalize data

In [22]:
# Define and execute the SQL query with a JOIN statement
conn = sqlite3.connect(db_file)
# Define and execute the SQL query with JOIN statements
query = """
SELECT _objects_id.external_id AS dbID, _objects_attr.category AS category,_objects_attr.display_name, _objects_val.value
FROM _objects_id
JOIN _objects_eav ON _objects_id.id = _objects_eav.entity_id
JOIN _objects_attr ON _objects_eav.attribute_id = _objects_attr.id
JOIN _objects_val ON _objects_eav.value_id = _objects_val.id
WHERE category NOT LIKE '\_\_%\_\_' ESCAPE '\\' 
ORDER BY dbID;
"""
data = pd.read_sql_query(query, conn)
data

,dbID,category,display_name,value
0,0039da84-e57d-40b6-93b6-23f30154969f-0001967f,Identity Data,Workset,Object Styles
1,0039da84-e57d-40b6-93b6-23f30154969f-0001967f,Identity Data,Edited by,
2,0039da84-e57d-40b6-93b6-23f30154969f-00019680,Identity Data,Workset,Object Styles
3,0039da84-e57d-40b6-93b6-23f30154969f-00019680,Identity Data,Edited by,
4,0039da84-e57d-40b6-93b6-23f30154969f-00019681,Identity Data,Workset,Object Styles
...,...,...,...,...
20917,fee3909b-9d66-4e1a-8c64-1b415f8b090b-000106dc,Identity Data,Edited by,
20918,ffea8391-70d9-4e34-bb2d-23ebf4cfd6b4-00010c26,Identity Data,Workset,Phase Settings
20919,ffea8391-70d9-4e34-bb2d-23ebf4cfd6b4-00010c26,Identity Data,Edited by,
20920,ffea8391-70d9-4e34-bb2d-23ebf4cfd6b4-00010c27,Identity Data,Workset,Area and Volume Computations
20921,ffea8391-70d9-4e34-bb2d-23ebf4cfd6b4-00010c27,Identity Data,Edited by,

## How to get categories from the database

In [ ]:
# Query filter return list 
conn = sqlite3.connect(db_file)
# Define and execute the SQL query with JOIN statements
query = """
SELECT _objects_id.external_id, _objects_attr.category,_objects_attr.display_name, _objects_val.value
FROM _objects_id
JOIN _objects_eav ON _objects_id.id = _objects_eav.entity_id
JOIN _objects_attr ON _objects_eav.attribute_id = _objects_attr.id
JOIN _objects_val ON _objects_eav.value_id = _objects_val.id
WHERE _objects_attr.name LIKE '_RC';
"""
df_categories = pd.read_sql_query(query, conn)
# get unique values from the category column
categories = df_categories['value'].unique()
# create a dataframe for categories
df_categories = pd.DataFrame(categories, columns=['category'])
df_categories.head(50)
df_categories.sort_values(by=['category'], inplace=True)
df_categories.head(50)

                                            category
1
15                                   <Area Boundary>
46                                          <Sketch>
4                                       Area Schemes
21                            Building Type Settings
30                                           Cameras
18                                 Color Fill Schema
42                                             Doors
25              Electrical Demand Factor Definitions
52                              Electrical Equipment
53                               Electrical Fixtures
32  Electrical Load Classification Parameter Element
26                   Electrical Load Classifications
5                                         Elevations
45                                            Floors
40                                         Furniture
48                                    Generic Models
20                               HVAC Load Schedules
19                                        HVAC Zones
17                                   Internal Origin
35                                 Legend Components
51                                 Lighting Fixtures
33                                   Material Assets
2                                          Materials
44                              Mechanical Equipment
27           Panel Schedule Templates - Branch Panel
28             Panel Schedule Templates - Data Panel
29            Panel Schedule Templates - Switchboard
0                                             Phases
34                                     Pipe Segments
39                                      Point Clouds
3                                   Primary Contours
24                                Project Base Point
11                               Project Information
10                                          Revision
36                      Revision Numbering Sequences
50                                         Room Tags
49                                             Rooms
38                                 Schedule Graphics
37                                         Schedules
31                                     Section Boxes
8                                        Shared Site
22                               Space Type Settings
43                               Specialty Equipment
12                             Structural Load Cases
14                                          Sun Path
23                                      Survey Point
16                                        Text Notes
13                                      Title Blocks
7                                          Viewports

In [ ]:
# unormalized data with columns : external_id, RevitCategory, ParameterCategory, ParameterName, DataType, DataTypeContext,ParameterValue
conn = sqlite3.connect(db_file)
# Define and execute the SQL query with JOIN statements
query = """
SELECT _objects_id.external_id, _objects_attr.category,_objects_attr.display_name, _objects_val.value
FROM _objects_id
JOIN _objects_eav ON _objects_id.id = _objects_eav.entity_id
JOIN _objects_attr ON _objects_eav.attribute_id = _objects_attr.id
JOIN _objects_val ON _objects_eav.value_id = _objects_val.id
WHERE _objects_attr.name LIKE '_RC';
"""
df_categories = pd.read_sql_query(query, conn)
# get unique values from the category column
categories = df_categories['value'].unique()
categories

array(['Phases', '', 'Materials', 'Primary Contours', 'Area Schemes',
       'Elevations', 'Views', 'Viewports', 'Shared Site',
       'Work Plane Grid', 'Revision', 'Project Information',
       'Structural Load Cases', 'Title Blocks', 'Sun Path',
       '<Area Boundary>', 'Text Notes', 'Internal Origin',
       'Color Fill Schema', 'HVAC Zones', 'HVAC Load Schedules',
       'Building Type Settings', 'Space Type Settings', 'Survey Point',
       'Project Base Point', 'Electrical Demand Factor Definitions',
       'Electrical Load Classifications',
       'Panel Schedule Templates - Branch Panel',
       'Panel Schedule Templates - Data Panel',
       'Panel Schedule Templates - Switchboard', 'Cameras',
       'Section Boxes',
       'Electrical Load Classification Parameter Element',
       'Material Assets', 'Pipe Segments', 'Legend Components',
       'Revision Numbering Sequences', 'Schedules', 'Schedule Graphics',
       'Point Clouds', 'Furniture', 'Walls', 'Doors',
       'Specialty Equipment', 'Mechanical Equipment', 'Floors',
       '<Sketch>', 'Windows', 'Generic Models', 'Rooms', 'Room Tags',
       'Lighting Fixtures', 'Electrical Equipment', 'Electrical Fixtures'],
      dtype=object)